body {
  font-family: Arial, Helvetica, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 50px;
  font-size: 3rem;
}

.color-picker {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid hsl(0, 0%, 69%);
  border-radius: 25px;
  margin-bottom: 25px;
}

.color-picker p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: aliceblue;
}

label {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold
}

input[type="color"] {
  width: 75px;
  height: 40px;
  padding: 5px;
}